<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mad Libs</title>
	<link href="css/styles.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body ng-app ="app">
<div id="container" ng-controller="textCtrl">
<header>
	<img src="images/mad-lib-happy-face.png"><img src="images/ng-mad-libs-logo.png">
</header>
<section id="words">
<input type="radio" name="gender" value="male" ng-change="genderChange()" ng-model="gender">
<input type="radio" name="gender" value="female" ng-change="genderChange()" ng-model="gender">
{{gender}}
	<h2>Provide the following words:</h2>
	<div class="column">
	<input type="text" ng-model="name" placeholder="Male Name"/>
	<input type="text" ng-model="jobTitle" placeholder="Job Title"/>
	<input type="text" ng-model="tediousTask" placeholder="Tedious Task"/>
	</div>
	<div class="column">
	<input type="text" ng-model="dirtyTask" placeholder="Dirty Task"/>
	<input type="text" ng-model="celebrity" placeholder="Celebrity"/>
	<input type="text" ng-model="uselessSkill" placeholder="Useless Skill"/>
	
	</div>
	<div class="column">
	<input type="text" ng-model="obnoxiousCelebrity" placeholder="Obnoxious Celebrity"/>
	<input type="text" ng-model="hugeNumber" placeholder="Huge Number"/>
	<input type="text" ng-model="adjective" placeholder="Adjective"/>
	</div>
	<p style="clear:both">&nbsp</p>
</section>
<section>
	<p>{{name}} was a {{jobTitle}} who loved technology. Although {{genderPronoun}} loved parts of {{genderPosessive}} job, {{genderPronoun}} absolutely hated {{tediousTask}} and {{dirtyTask}}. So, {{name}} met with {{genderPosessive}} life mentor {{celebrity}} who told {{genderPosessive}} to learn how to {{uselessSkill}} with Thinkful. Thinkful didn't offer a course on {{uselessSkill}} so {{genderPronoun}} studied programming instead. </p> <p>What a great decision! With {{genderPosessive}} new skills, {{name}} built a(n) {{adjective}} robot named {{obnoxiousCelebrity}} that not only loved {{dirtyTask}} but did it {{hugeNumber}} times faster. </p>
</section>
</div>
</body>
</html>